body {
  background-color: lightgray;
    display: block;
    margin: 8px;
  align-items: center;

}

.container {
    background-color: purple;
    margin: auto;
    border: 1px;
    padding: 10px;
    border-radius: 50px;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
  
}



.container {
    padding: 40px 40px;
}
h1 {
  color: white;
  text-align: center;
}
p {
  color: white;
  text-align: center;
}